.comment {
  /* border: 2px solid darkgray; */
  border-radius: 3px;
  background-color: whitesmoke;
  padding: 6px;
}

.comment-text {
  font-size: 14px;
}

.comment-user {
  font-size: 20px;
  font-weight: 700;
}
